body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.quadrant {
    width: 50%;
    height: 50%;
    float: left;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
